# --- Python Environment ---
venv/
.venv/
env/
bin/
lib/
include/
__pycache__/
*.py[cod]
*$py.class


# for the large GloVe vectors
*.txt
# keep source text files if they are small
!bbc.txt
!goethe.txt

# --- Project Specifics ---
# Ignore the watermarked output files  
watermarked_*.txt
experiment_results.csv

# --- System Files ---
.DS_Store
Thumbs.db
.vscode/
.idea/


.env